body {
    margin: 0px;
    padding: 0px;
    background: url("../images/bg_dark_green.png");  
    background-color: inherit;
    font-size: 16px; 
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #000;
}

a:link { 
    text-decoration: underline;
    color: #000;
    font-weight: normal;
}
 
a:visited { 
    text-decoration: underline;
    color: #000;
    font-weight: normal;
}
 
a:hover { 
    text-decoration: underline;
    color: #669933;
    font-weight: normal;
}
 
a:active { 
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}